@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

body, .field > input, .field > input[value],
.icon-smile > p {
  display: flex;
  margin: 0px 0px 0px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  padding: 0px;
  font: 1em "Roboto", sans-serif;
  color: #2f55a4;
}

#animation {
  display: none;
  position: fixed;
  margin: 0px;
  width: 400px;
  height: 100%;
}

#animation > svg {
  margin-top: 0px;
}

:root {
  --animation-time: 0.1s;
}

@keyframes hideshow {
  0% { opacity: 0; transform: translateY(70%) scale(1.0);}
  10% { opacity: 1; }
  70% { opacity: 0; }
  100% { opacity: 0; transform: translateY(-75%) scale(1.1); }
}

.smile {
  opacity: 0;
  animation: hideshow var(--animation-time) ease;
}

#start {
  display: flex;
  width: 260px;
  height: 260px;
  flex-direction: column;
  justify-content: start;
  margin: 200px 50px 5px 50px;
}

.icon-smile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.icon-smile > img {
  width: 33px;
  padding-right: 6px;
  margin-left: -4px;
}

.icon-smile > p {
  font-weight: 500;
}

#input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
  background-color: transparent;
}

input {
  background-color: transparent;
}

.field {
  background-color: transparent;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #2f55a4;
  color: white;
  text-decoration:none;
  margin-bottom: 13px;
  height: 54px;
}

.field > input {
  display: flex;
  height: 50px;
  width: 35px;
  background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.field > input[value] {
  text-align: center;
  border: none;
  background-color: transparent;
}

.field > label {
  padding: 0px 20px 0px 20px;
  width: 150px;
  font: 1em "Roboto", sans-serif;
  color: #2f55a4;
}

.changeValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25px;
}

.arrow-up {
  transform: rotate(-90deg);
  margin-bottom: 3px;
}

.arrow-down {
  transform: rotate(90deg);
  margin-top: 3px;
}

.arrow-right {
  margin-left: 3px;
  width: 6px;
  height: 15px;
}

.arrow-right > svg {
  fill: currentColor;
}

.button,
.button-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3px;
}

@keyframes wave {
  from { transform : translateY(2px); }
  to   { transform : translateY(-2px ); }
}

@keyframes waveY {
  from { transform : translateY(2px); }
  to   { transform : translateY(-2px ); }
}

.button > img, .button-submit > img {
  width: 33px;
  margin-right: -4px;
  animation-duration: 0.4s;
  animation-delay: -0.7s;
  animation-name: waveY;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.button > img {
  animation-delay: -0.7s;
}

.button-submit > img {
  animation-delay: -0.5s;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3px;
  background-color: transparent;
  border: none;
  cursor:pointer;
  font: 1.1em "Roboto", sans-serif, medium;
  font-weight: 500;
  color: #2f55a4;
  text-decoration:none;
}

#reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

button:hover {
  border: none;
  color: #ff5719;
}

button > div {
  animation-duration: 0.4s;
  animation-name: wave;
  padding-left: 2px;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

button > div:nth-child(2) {
  animation-delay: -0.1s;
}

button > div:nth-child(3) {
  animation-delay: -0.2s;
}

button > div:nth-child(4) {
  animation-delay: -0.3s;
}

button > div:nth-child(5) {
  animation-delay: -0.4s;
}

button > div:nth-child(6) {
  animation-delay: -0.5s;
}

button > div:nth-child(7) {
  animation-delay: -0.6s;
}


#play {
  display: none;
  flex-direction: column;
  margin: 200px 50px 5px 50px;
}

#play > div {
  display: flex;
}

#timer, #reset {
  margin: 15px 0px 15px 0px;
}

#timer {
  color: black;
  font-size: 18px;
  align-items: flex-start;
  margin-left: 10px;
}

.timer {
  align-items: center;
}

.description {
  flex-direction: column;
  margin-top: 15px;
}

.description > div {
  display: flex;
}

.description > div > p {
  font-size: 0.95em;
  letter-spacing: .1em;
  margin: 0px 0px 7px 5px;
}

.description > div > p:nth-child(2) {
  color: #ff5719;
}

.star {
  margin-left: 3px;
  width: 10px;
  height: 15px;
  background-image: url(icon/star.svg);
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
  color: white;
  text-align: center;
  line-height: 23px;
  vertical-align: middle;
}

#board > div {
  display: flex;
  flex-direction: row;
  height: 28px;
  width: 100%;
}

#board > div > div {
  justify-content: center;
  width: 28px;
  height: 28px;
}

.play {
  border-width: 1px;
  border-style: solid;
  border-color: #525252;
  box-sizing: border-box;
}

.lose {
  border-style: solid;
  border-color: #2f55a4;
  border-width: 1px;
  box-sizing: border-box;
}

.hidden {
  background: #ffd445;
}


.flagged {
  background: #ff5719;
}

.revealed:before {
  content: attr(data-value);
}

.revealed[data-value="0"]:before {
  content: '';
}

.revealed[data-value="0"] {
  background: #ffffff;
}

.revealed[data-value="1"] {
  background: #598fff;
}

.revealed[data-value="2"] {
  background: #3d7cff;
}

.revealed[data-value="3"] {
  background: #296eff;
}

.revealed[data-value="4"] {
  background: #0d5afc;
}

.revealed[data-value="5"] {
  background: #0045d6;
}

.revealed[data-value="6"] {
  background: #254485;
}

.revealed[data-value="7"] {
  background: #193570;
}

.revealed[data-value="8"] {
  background: #0d2659;
}

.revealed[data-value="9"] {
  background: #ffffff;
}

.revealed[data-value="9"]:before {
  content: url('icon/smile.svg');
}

.win {
  background: #2f55a4;
  border-style: solid;
  border-color: #2f55a4;
  border-width: 1px;
  box-sizing: border-box;
}

.win[data-value="9"]:before {
  content: url('icon/smile.svg');
}

@media (max-device-width: 640px) {
  .field {
    height: 64px;
  }

  #start {
    margin: 50px 50px 5px 50px;
  }

  #play {
    margin: 30px 50px 5px 50px;
  }

  .arrow-up {
    margin-bottom: 5px;
  }

  .arrow-down {
    marign-top: 5px;
  }

  #submit:hover, #reset:hover {
    color: #2f55a4;
  }
}


