@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

body {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0px 0px 0px;
    padding: 0px;
    font: 1em "Roboto", sans-serif;
    color: #2f55a4;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start {
  display: flex;
  width: 260px;
  height: 260px;
  flex-direction: column;
  justify-content: start;
  margin: -200px 50px 5px 50px;
}

#start > p {
  font: 1.1em "Roboto", sans-serif;
  font-weight: 500;
}

#input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
}

.field {
  background: white;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #2f55a4;
  color: white;
  text-decoration:none;
  margin-bottom: 10px;
}

.field > input {
  display: flex;
  font: 1em "Roboto", sans-serif;
  height: 40px;
  width: 35px;
  color: #2f55a4;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field > input[value] {
  text-align: center;
  border: none;
  font: 1em "Roboto", sans-serif;
  color: #2f55a4;
}

.field > label {
  font-size: 15px;
  padding: 0px 18px 0px 18px;
  width: 155px;
  font: 1em "Roboto", sans-serif;
  color: #2f55a4;
}

.changeValue {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25px;
}

.arrow-up {
  transform: rotate(-90deg);
}

.arrow-down {
  transform: rotate(90deg);
}

.arrow-right {
  margin-left: 3px;
  width: 6px;
  height: 15px;
}

.blue {
  background-image: url(icon/arrow-small.svg);
}

.black {
  background-image: url(icon/arrow-small-black.svg);
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#submit, #reset {
  margin-top: 4px;
  background-color: transparent;
  border: none;
  display:inline-block;
  cursor:pointer;
  font: 1em "Roboto", sans-serif, medium;
  font-weight: 500;
  font-stretch: 200%;
  font-kerning: normal;
  color: #525252;
  text-decoration:none;
}

#submit:hover, #reset:hover {
  background-color: white;
  border: none;
  color: #2f55a4;
}

#play {
  flex-direction: column;
  margin: -200px 50px 5px 50px;
}

#play > div {
  display: flex;
}

#timer, #reset {
  margin: 15px 0px 12px 0px;
}

#timer {
  color: black;
  font-size: 18px;
  align-items: flex-start;
  margin-left: 10px;
}

.timer {
  align-items: center;
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
  color: white;
  text-align: center;
  line-height: 23px;
  vertical-align: middle;
}

#board > div {
  display: flex;
  flex-direction: row;
  height: 25px;
  width: 100%;
}

#board > div > div {
  justify-content: center;
  width: 25px;
  height: 25px;
}

.play {
  border-width: 1px;
  border-style: solid;
  border-color: #525252;
  box-sizing: border-box;
}

.lose {
  border-style: solid;
  border-color: #2f55a4;
  border-width: 1px;
  box-sizing: border-box;
}

.hidden {
  background: #ffd445;
}

.revealed {

}

.flagged {
  background: #ff5719;
}

.revealed:before {
  content: attr(data-value);
}

.revealed[data-value="0"]:before {
  content: '';
}

.revealed[data-value="0"] {
  background: #ffffff;
}

.revealed[data-value="1"] {
  background: #598fff;
}

.revealed[data-value="2"] {
  background: #3d7cff;
}

.revealed[data-value="3"] {
  background: #296eff;
}

.revealed[data-value="4"] {
  background: #0d5afc;
}

.revealed[data-value="5"] {
  background: #0045d6;
}

.revealed[data-value="6"] {
  background: #254485;
}

.revealed[data-value="7"] {
  background: #193570;
}

.revealed[data-value="8"] {
  background: #0d2659;
}

.revealed[data-value="9"] {
  background: #ffffff;
}

.revealed[data-value="9"]:before {
  content: url('icon/smile.svg');
}

.win {
  background: #ffd445;
  border-style: solid;
  border-color: #2f55a4;
  border-width: 1px;
  box-sizing: border-box;
}

.win[data-value="9"]:before {
  content: url('icon/dislike.svg');
}


